@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}

.generatebutton svg {
    width: 10px;
    height: 10px;
}

#chatPage {
    height: 100%;
    display: flex;
}

#workspace {
    flex-grow: 1;
    overflow: auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    border-bottom: solid;
    border-color: yellow;
    border-width: 4px;
    background-color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 20px;  
  }     

.boticon,
.usericon {
  margin-right: 1rem;
  border-radius: 0.1rem;
  height: 100%;
  background-color: rgb(240, 248, 255, 0);
  background-size: cover;
}
.boticon {
    border-radius: 80px;
}

.usericon {
    margin-left: .3rem;
}

.caseButton.selected {
    background-color: #007bff;
    color: #fff;
  }

.selection {
    display: flex;
    flex-direction: row;
    width: 50rem;
    height: 10rem;
    align-items: center;
    justify-content: center;
    font-family:  'Raleway', sans-serif;
    font-weight: 700;   
    gap: 2rem;
    color: rgb(0, 0, 0);
}

.arrow {
    height: 40px;
    width:  80px;
    position: relative;
    animation: myAnim 12s cubic-bezier(0.65, 0, 0.35, 1) 0s infinite alternate forwards;
}



.iq {
    color: yellow;
}

.headWrap {
    font-size: larger;
    color: white;
    border-style: solid;
    border-radius: 13px;
    border-width: 5px;
    border-color: rgba(252,235,9,255);
    background-color: #231f20;
    padding: 16px;  
    height: 98px;
}
