@media (max-width: 768px) {
    .sidebar {
      display: none;
      width: 0;
    }
  }

.sidebar {
    max-width: 260px;
    padding: 12px;
    background-color: #F3F6F7;
    color: white;
    font-size: 0.875rem;
    flex-grow: 2;
    position: sticky;
    min-width: 260px;
    height: 100vh;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column; 
    gap: 1rem;
    overflow: auto;
}

#newCaseButton {
    display: flex;
    width: 100%;
    background-color: #FDEB0F;
    /* border-color:  */
    color: #132A4E;
    font-family: open sans;
    font-weight: 700;
    font-size: 18px;
}

#newCaseButton:hover {
    background-color: var(--bs-gray-800);
}

.caseItem {
    margin-bottom: 4px;
    padding: 12px;
    border-style: none;
    border-width: 1px;
    border-color: var(--bs-secondary-color);
    border-radius: 8px;
    color: #132A4E;
    font-family: open sans;
    font-weight: 400;
    font-size: 14px;

}

.caseItem:hover{
    background-color: var(--bs-gray-800);
    cursor: pointer;
}

.caseItem:active{
    background-color: var(--bs-gray-800);
}
